.detailCountry {
  margin: 0 auto;
  padding: 4rem 2.8rem 6.6rem;
}

.detailCountry__nameCountry {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 3rem;
}

.detailCountry__backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 6.4rem;
  width: 10.4rem;
  height: 3.2rem;
  color: var(--White);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  box-shadow: 0px 0px 7px 0px #0000004b;
  background-color: var(--DarkBlue);
  border: none;
}

.detailCountry__iconButton {
  margin-right: 0.8rem;
}

.detailCountry__flag {
  margin-bottom: 4.4rem;
  width: 100%;
  height: auto;
  aspect-ratio: 320/299;
  border-radius: 0.8rem;
}

.detailCountry__principalInfoWrapper {
  margin-bottom: 3.2rem;
}

.detailCountry__info {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 3.2rem;
}

.detailCountry__info span {
  margin-left: 0.5rem;
  color: var(--VeryLightGray);
}

.detailCountry__secondaryInfoWrapper {
  margin-bottom: 3.2rem;
}

.detailCountry__border {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.detailCountry__wrapperBorders {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

.detailCountry__borderItems {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9.6rem;
  height: 2.8rem;
  background-color: var(--DarkBlue);
  box-shadow: 0px 0px 4px 1px #11151740;
}

@media (min-width: 1024px) {
  .detailCountry {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 124rem;
  }

  .detailCountry__nameCountry {
    font-size: 3.2rem;
    line-height: 4.3rem;
  }

  .detailCountry__wrapperImage {
    margin-right: 14.4rem;
  }

  .detailCountry__flag {
    margin: 0;
    width: 55.9rem;
    aspect-ratio: 0;
  }

  .detailCountry__backButton {
    margin: 0 0 8rem;
  }

  .detailCountry__containerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas de tamaño igual */
    grid-template-rows: 1fr 1fr 1fr; /* Tres filas de tamaño igual */
    margin: 0 0 3.9rem;
    padding-top: 5rem;
    width: 57.4rem;
    height: 32.3rem;
  }

  .detailCountry__nameCountry {
    margin-bottom: 2.3rem;
    grid-area: 1 / 1 / 2 / 3;
    font-size: 3.2rem;
    line-height: 4.3rem;
  }

  .detailCountry__principalInfoWrapper {
    margin-bottom: 6.8rem;
    grid-area: 2 / 1 / 3 / 2;
  }

  .detailCountry__info {
    font-size: 1.6rem;
  }

  .detailCountry__info span {
    font-size: 1.6rem;
  }

  .detailCountry__wrapper {
    display: flex;
  }

  .detailCountry__wrapperBorderItem {
    grid-area: 3/1/4/3;
  }

  .detailCountry__border {
    margin: 0 3rem 0 0;
  }

  .detailCountry__wrapperBorders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
