.search {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto 3.2rem;
}

.search__wrapperInput {
  position: relative;
}

.search__iconInput {
  position: absolute;
  top: 4rem;
  left: 3.2rem;
  z-index: 1;
}

.search__input {
  margin: 2.4rem 0 4rem 0;
  padding-left: 7.4rem;
  width: 34.3rem;
  height: 4.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--White);
  background-color: var(--DarkBlue);
  border: none;
  border-radius: 0.8rem;
}

.search__input:focus {
  outline: none;
}

/* .search__select {
  padding: 0 1.9rem 0 2rem;
  margin-bottom: 10rem;
  width: 20rem;
  height: 4.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--White);
  background-color: var(--DarkBlue);
  border: none;
  border-radius: 0.8rem;
  gap: 0.4rem;
}

.search__select option {
  padding: 2rem;
  border: none;
} */

.wrapperFlags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 4rem;
  padding: 0 8rem;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .search {
    max-width: 134rem;
    padding: 0 2.8rem 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 4.8rem auto 2.8rem;
  }

  .search__iconInput {
    top: 2rem;
  }

  .search__input {
    margin: 0;
    width: 48rem;
    height: 5.6rem;
  }

  .wrapperFlags {
    max-width: 150rem;
    grid-template-columns: repeat(auto-fit, 26.4rem);
    justify-content: center;
    gap: 7.5rem;
  }
}
