.wrapperFlags {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  gap: 4rem;
  padding: 0 8rem;
  margin: 0 auto;
}

.linkCountry {
  text-decoration: none;
  color: currentColor;
}

@media (min-width: 1024px) {
  .wrapperFlags {
    grid-template-columns: repeat(auto-fit, 26.4rem);
    justify-content: center;
    gap: 7.5rem;
  }
}
